@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dash-length: 10px;
        --dash-spacing: 15px;
        --dash-thickness: 1px;

        --background: 0 0% 95.7%;
        --foreground: 0 0% 10.6%;
        --border: 0 0% 0% / 0.09;
        --primary: 47 84% 62%;
    }
    .dark {
        --background: 0 0% 5.9%;
        --foreground: 0 0% 78%;
        --primary: 47 84% 62%;
        --border: 0 0% 100% / 0.08;
    }

    a {
        @apply text-base;
    }

    p {
        @apply text-lg;
    }

    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg font-medium;
    }
    em {
        @apply font-light not-italic;
    }
    .text-bg {
        background: hsl(var(--background) / 0.6);
        border-radius: 20px;
        /* blurr the background */
        backdrop-filter: blur(1px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: hsl(var(--background));
    background: hsl(var(--foreground));
}

::selection {
    color: hsl(var(--background));
    background: hsl(var(--foreground));
}

/* Focus theme */
:focus {
    outline: none;
}

:focus-visible {
    outline: 2px solid hsl(var(--foreground) / 0.5);
    outline-offset: 4px;
    border-radius: 1px;
}

input:focus-visible {
    outline: 2px solid hsl(var(--foreground) / 0.5);
    outline-offset: 0px;
    border-radius: 1px;
}
