@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #c9dbf8;
  --green: #d9ead3;
  --yellow: #fff3cc;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
